.sixHomeContainer_Box{
    width:100%;
    background-color:#F8F8F8 ;
 margin:auto;
    height: 150px;
    margin-bottom:0;

}
.card_Icons{
width:90%;
margin-left:5rem;
height:150px;
margin-bottom: 0px;
}