 body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #EBE9E9; ;
 
}
.home{
  position: relative;
  height: auto;
  width: 100%;

  margin-bottom:0;
  padding-bottom: 0;

  border-radius: 0px;
  border:1px solid grey;
  background-color: #FFFFFF;
  
} 

